$orange: #FF5039;
$green: #38FE9E;
$blue: #8ABFFF;
$purple: #271833;
$white: #FFFFFF;
$black: #000000;


html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  margin: 6px 0px;
}
 
::-webkit-scrollbar-thumb {
  background: $purple; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($purple, 10%); 
}

h1, h2, h3, h4, h5, p, a {
	margin: 15px 0px;
	font-family: 'Public Sans', sans-serif;
}

.fnt-s {
	font-size: 14px;
}

.fnt-m {
	font-size: 18px;
}

.fnt-l {
	font-size: 24px;
}

.fnt-xl {
	font-size: 36px;
}

.nav {
	position: fixed;
	width: 100%;
	height: 150px;
	background-color: $purple;
	top: 0;
	z-index: 99;

	&__logo {
		width: 240px;
		padding: 20px 30px;

		img {
			width: 100%;
		}
	}

	&__list {
		list-style: none;
    	position: absolute;
    	bottom: 0;
    	right: 30px;
    	margin: 0;

		&__item {
			display: inline-block;
			text-decoration: none;
			padding: 20px 40px;
			color: white;
			font-size: 18px;
			margin: 0px;
			margin-right: -4px;
			transition: background .3s ease, color .3s ease, border-top .3s ease;
		}

		a:hover > .nav__list__item, .nav__active {
			background: white;
			color: $purple;
			border-top: solid 5px $orange;
		}
	}
}

.sidebar {
	position: fixed;
	width: 350px;
	top: 150px;
	height: calc(100% - 210px);
	padding-bottom: 60px;
	background-color: $purple;
	overflow-y: auto;
	direction: rtl;

	&::-webkit-scrollbar {
  		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
  		background: white; 
	}

	&::-webkit-scrollbar-track {
	  	margin: 0px;
	}

	a {
		display: block;
		text-decoration: none;
		color: white;
		padding: 15px 30px;
		border-right: solid 5px transparent;
		transition: background .3s ease, color .3s ease, border-right .3s ease;
		direction: ltr;

		&:hover {
			background: white;
			color: $purple;
			border-right: solid 5px $orange;
		}

	}
}

.content {
	left: 350px;
	width: calc(100% - 350px);
	height: 100%;
	position: relative;

	&__slide {
		height: calc(100% - 150px);
		padding-top: 150px;

		&__container {
    		width: calc(100% - 120px);
    		height: calc(100vh - 240px);
			padding: 30px 60px 60px;
			position: absolute;
			overflow-y: auto;
		}	
	}
}

.colourPod {
	display: grid;
	grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    margin-bottom: 20px;

    &__top {
    	grid-column: 1/4;
    	color: $purple;

    	h2 {
    		display: inline-block;
    		margin-right: 20px;
    	} 

    	p {
    		display: inline-block;
    		margin-right: 20px;
    	}
    }

    &__white {
    	padding: 10px 20px;
    }

    &__whitetext {
    	padding: 10px 20px;
    	color: $white;
    }

    &__darktext {
    	padding: 10px 20px;
    	color: $purple;
    }
}

/*Buttons*/ 

.buttonsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;

	&__pod {

		border-style: solid;
		border-width: 5px;
		border-top-color: $purple;
		border-right-color: $purple;
		border-bottom-color: $orange;
		border-left-color: $purple;

		&__white, &__dark {
    		height: 100px;
    		width: 100%;
    		display: flex;
    		align-items: center;
    		justify-content: center;
		}

		&__titles {
			min-height: 220px;
			padding: 10px 20px;
		}

		&__dark {
			background-color: $purple;
		}
	}

}

.btn {
	display: inline;
	position: relative;
	text-decoration: none;
	transition: all .6s;
	cursor: pointer;

	&-rnd {
    	padding: 0px 30px;
    	height: 40px;
    	border-radius: 22px;
    	border: solid 3px;
    	font-size: 18px;
    	margin: 10px;
    	line-height: 40px;
    	overflow: hidden;
   
	  	&:before {
	  	  content: "";
	  	  height: 155px;
	  	  left: -75px;
	  	  opacity: .2;
	  	  position: absolute;
	  	  top: -50px;
	  	  transform: rotate(35deg);
	  	  transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
	  	  width: 50px;
	  	  z-index: 1;
	  	}

	  	&:hover {
 
			&:before {
				left: 120%;
	    		transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
			}
		}
	}



	&-rnd-arr {
    	padding: 0px 60px 0px 30px;
    	height: 40px;
    	border: solid 3px;
    	border-radius: 22px;
    	font-size: 18px;
    	margin: 10px;
    	line-height: 40px;
    	overflow: hidden;
    	z-index: 1;

	  	&:before {
	  	  content: "";
	  	  height: 155px;
	  	  left: -75px;
	  	  opacity: .2;
	  	  position: absolute;
	  	  top: -50px;
	  	  transform: rotate(35deg);
	  	  transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
	  	  width: 50px;
	  	  z-index: 1;
	  	}

	  	&:hover {
 
			&:before {
				left: 120%;
	    		transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
			}
		}

		&:after {
			content: '\f061';
			font-family: "Font Awesome 5 Free";
			display: inline-block;
			font-weight: 900;
			position: absolute;
			right: 10px;
			top: 50%;
			height: 30px;
    		width: 30px;
    		line-height: 30px;
    		text-align: center;
    		border-radius: 50%;
			transform: translateY(-50%);
		}
	}

	&-bg {
		&-green {
			background-color: $green;
			color: $purple;
			border-color: $green;

			&:before {
				background-color: $purple;
			}

			&:hover {
				background-color: $purple;
				color: $white;
			}
		}

		&-blue {
			background-color: $blue;
			color: $purple;
			border-color: $blue;

			&:before {
				background-color: $purple;
			}

			&:hover {
				background-color: $purple;
				color: $white;
			}
		}
	}

	&-ol {
		&-green {
			background-color: transparent;
			color: $white;
			border-color: $green;

			&:before {
				background-color: $green;
			}

			&:hover {
				background-color: $green;
				color: $purple;
			}
		}

		&-blue {
			background-color: transparent;
			color: $white;
			border-color: $blue;

			&:before {
				background-color: $blue;
			}

			&:hover {
				background-color: $blue;
				color: $purple;			
			}
		}
	}
}

