html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  margin: 6px 0px; }

::-webkit-scrollbar-thumb {
  background: #271833;
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #0c0810; }

h1, h2, h3, h4, h5, p, a {
  margin: 15px 0px;
  font-family: 'Public Sans', sans-serif; }

.fnt-s {
  font-size: 14px; }

.fnt-m {
  font-size: 18px; }

.fnt-l {
  font-size: 24px; }

.fnt-xl {
  font-size: 36px; }

.nav {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: #271833;
  top: 0;
  z-index: 99; }
  .nav__logo {
    width: 240px;
    padding: 20px 30px; }
    .nav__logo img {
      width: 100%; }
  .nav__list {
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 30px;
    margin: 0; }
    .nav__list__item {
      display: inline-block;
      text-decoration: none;
      padding: 20px 40px;
      color: white;
      font-size: 18px;
      margin: 0px;
      margin-right: -4px;
      -webkit-transition: background .3s ease, color .3s ease, border-top .3s ease;
      -o-transition: background .3s ease, color .3s ease, border-top .3s ease;
      transition: background .3s ease, color .3s ease, border-top .3s ease; }
    .nav__list a:hover > .nav__list__item, .nav__list .nav__active {
      background: white;
      color: #271833;
      border-top: solid 5px #FF5039; }

.sidebar {
  position: fixed;
  width: 350px;
  top: 150px;
  height: calc(100% - 210px);
  padding-bottom: 60px;
  background-color: #271833;
  overflow-y: auto;
  direction: rtl; }
  .sidebar::-webkit-scrollbar {
    width: 10px; }
  .sidebar::-webkit-scrollbar-thumb {
    background: white; }
  .sidebar::-webkit-scrollbar-track {
    margin: 0px; }
  .sidebar a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-right: solid 5px transparent;
    -webkit-transition: background .3s ease, color .3s ease, border-right .3s ease;
    -o-transition: background .3s ease, color .3s ease, border-right .3s ease;
    transition: background .3s ease, color .3s ease, border-right .3s ease;
    direction: ltr; }
    .sidebar a:hover {
      background: white;
      color: #271833;
      border-right: solid 5px #FF5039; }

.content {
  left: 350px;
  width: calc(100% - 350px);
  height: 100%;
  position: relative; }
  .content__slide {
    height: calc(100% - 150px);
    padding-top: 150px; }
    .content__slide__container {
      width: calc(100% - 120px);
      height: calc(100vh - 240px);
      padding: 30px 60px 60px;
      position: absolute;
      overflow-y: auto; }

.colourPod {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  margin-bottom: 20px; }
  .colourPod__top {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    color: #271833; }
    .colourPod__top h2 {
      display: inline-block;
      margin-right: 20px; }
    .colourPod__top p {
      display: inline-block;
      margin-right: 20px; }
  .colourPod__white {
    padding: 10px 20px; }
  .colourPod__whitetext {
    padding: 10px 20px;
    color: #FFFFFF; }
  .colourPod__darktext {
    padding: 10px 20px;
    color: #271833; }

/*Buttons*/
.buttonsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  .buttonsGrid__pod {
    border-style: solid;
    border-width: 5px;
    border-top-color: #271833;
    border-right-color: #271833;
    border-bottom-color: #FF5039;
    border-left-color: #271833; }
    .buttonsGrid__pod__white, .buttonsGrid__pod__dark {
      height: 100px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .buttonsGrid__pod__titles {
      min-height: 220px;
      padding: 10px 20px; }
    .buttonsGrid__pod__dark {
      background-color: #271833; }

.btn {
  display: inline;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  cursor: pointer; }
  .btn-rnd {
    padding: 0px 30px;
    height: 40px;
    border-radius: 22px;
    border: solid 3px;
    font-size: 18px;
    margin: 10px;
    line-height: 40px;
    overflow: hidden; }
    .btn-rnd:before {
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      transform: rotate(35deg);
      -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 1; }
    .btn-rnd:hover:before {
      left: 120%;
      -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
  .btn-rnd-arr {
    padding: 0px 60px 0px 30px;
    height: 40px;
    border: solid 3px;
    border-radius: 22px;
    font-size: 18px;
    margin: 10px;
    line-height: 40px;
    overflow: hidden;
    z-index: 1; }
    .btn-rnd-arr:before {
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      transform: rotate(35deg);
      -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 1; }
    .btn-rnd-arr:hover:before {
      left: 120%;
      -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
    .btn-rnd-arr:after {
      content: '\f061';
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      font-weight: 900;
      position: absolute;
      right: 10px;
      top: 50%;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .btn-bg-green {
    background-color: #38FE9E;
    color: #271833;
    border-color: #38FE9E; }
    .btn-bg-green:before {
      background-color: #271833; }
    .btn-bg-green:hover {
      background-color: #271833;
      color: #FFFFFF; }
  .btn-bg-blue {
    background-color: #8ABFFF;
    color: #271833;
    border-color: #8ABFFF; }
    .btn-bg-blue:before {
      background-color: #271833; }
    .btn-bg-blue:hover {
      background-color: #271833;
      color: #FFFFFF; }
  .btn-ol-green {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #38FE9E; }
    .btn-ol-green:before {
      background-color: #38FE9E; }
    .btn-ol-green:hover {
      background-color: #38FE9E;
      color: #271833; }
  .btn-ol-blue {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #8ABFFF; }
    .btn-ol-blue:before {
      background-color: #8ABFFF; }
    .btn-ol-blue:hover {
      background-color: #8ABFFF;
      color: #271833; }
